<h1>howdy</h1>

<form action="/square/results">
  <label for="calculator">Enter a number</label>
  <input id="calculator" type="text" placeholder="what number do you want to calculate?" name="number">

  <button>Calculate square</button>
</form>
